*{
    padding: 0;
    margin: 0;
}
.h3{
    text-align: center;
}
label{
    padding-left: 0 !important;
}

#btn-submit{
    margin-top: 18px;
    color: white;
    background-color: rgba(60, 0, 128, 0.788);
    border: 1px solid black;
    border-radius: 5px;
}

input{
    border-radius: 5px;
    border: 1px solid black;
    height: 2.5rem;
}

textarea{
    height: 10rem;
}